<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <footer th:fragment="footer" class="bg-dark text-white mt-5 py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5><i class="fas fa-swimming-pool"></i> Alquiler Casas</h5>
                    <p>Tu lugar ideal para vacaciones con pileta</p>
                </div>
                <div class="col-md-4">
                    <h5>Enlaces</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white text-decoration-none">Acerca de</a></li>
                        <li><a href="#" class="text-white text-decoration-none">Contacto</a></li>
                        <li><a href="#" class="text-white text-decoration-none">Términos y Condiciones</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Contacto</h5>
                    <p><i class="fas fa-phone"></i> +54 123 456 7890</p>
                    <p><i class="fas fa-envelope"></i> info@alquilercasas.com</p>
                </div>
            </div>
            <hr class="bg-white">
            <div class="text-center">
                <p>&copy; 2026 Alquiler de Casas con Pileta. Todos los derechos reservados.</p>
            </div>
        </div>
    </footer>
</body>
</html>
